{% extends "base.html" %} 
{% block title %} Login {% endblock %}

{% block content %}
<form method = "POST">
<div class="mx-auto" style="width: 60%;">
    <h3 align = "center" class="h3 mb-3 font-weight-normal padding-top"> Login </h3>
    <div class = "form-signin" class="sr-only">
        <label for = "email"> Email Address </label>
        <input 
            type = "email"
            class = "form-control" 
            id = "email" 
            name = "email" 
            placeholder = "Enter email"
            required autofocus
            />
    </div>
    <div class = "form-signin" class="sr-only">
        <label for = "password"> Password </label>
        <input 
            type = "password"
            class = "form-control" 
            id = "password" 
            name = "password" 
            placeholder = "Enter password"
            required
            />
    </div>
    <br />
    <button type = "submit" class = "btn btn-primary"> Login </button>
</div>
</form>
{% endblock %}